DATA TYPES AND STRUCTURES

1) What are data structures and why are they important ?
  -  Data structure are a way of organizing and storing data in a computer so that it can  be used efficiently. They provide a framework for managing and accessing information ,enabling faster and more effective computations.
   Importance of data structure :
 - Data structure affect the efficiency of data operations.
 - Data structure affect the scalability of data models.
 - Data structure affect the usability of data models.

2) Explain the difference between mutable and immutable data types with example.
- Mutable data types: Mutable data types those whose values can be modified or altered in- place after they have been initialized .When you modify a mutable object ,you are changing the original object itself ,not creating a new one.
Example : Lists ,dictionaries and sets are common example of mutable data types .
- Immutable data types : Immutable data types are those whose values cannot be changed after they are created .Any operations that appears to modify an immutable object actually results in the creation of a new object with the desired changes ,while the original object remains unchanged .
Example : Integers ,floats ,strings ,and tuples are example of immutable data types .

3) What are main differences between lists and tuples in python?
- The main difference between lists and tuples in python are centered around their mutability ,performance characteristics ,and typical use cases .
- Lists are mutable : Their elements can be modified (added ,removed , or changed ) after the lists has been created .
- Tuples are immutable : Once a tuple is created ,its elements cannot be changed ,added or removed .
- Lists are defined using square brackets [].
- Tuples are defined using parentheses ().
- Tuples are generally faster and more memory - efficient wheres Lists can be slower.

4) Describe how dictionaries store data .
- Dictionaries , also known as hash maps or associative arrays in other programming languages ,store data as a collection of unique key value pairs .Each key within a dictionaries is unique and serves as an identifiers to access its associated value .

5) Why might you use a set instead of a list in python ?
- You might use a set instead of a list in the folowing scenarios:
- Ensuring uniqueness: Sets inherently store only unique elements whereas lists on the other hand allow for duplicate elements .
- When order is not important : Sets are unordered collection whereas list is use when order is crucial.

6) What is a string in Python, and how is it different from a list?
- In python , a string is an immutable sequence of characters ,used to represent text . Strings are enclosed in either single quotes(') or double(")
- A list in contrast ,is a mutable ordered sequence of items. These items can be of any data types and are enclosed in square brackets ([]) with individual items separated by commas.

7) How do tuples ensure data integrity in Python?
- To manage secured data integrity in Python, you'd typically use libraries like `cryptography` for encryption, `hashlib` for hashing, and `sqlite3` for database operations. Combine these to encrypt sensitive information before storing it, and verify data integrity by comparing hashes.

8) What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found.

In Python, dictionaries are implemented using hash tables. When you create a dictionary, Python uses a hash function to determine where to store each key-value pair in memory. This allows for very fast lookups, insertions, and deletions of elements, as the time complexity for these operations is typically O(1) on average.

9)  Can lists contain different data types in Python?
- Yes, lists in Python can contain different data types. Lists are designed to be flexible and can hold any type of object, including integers, floats, strings, other lists, tuples, dictionaries, and even custom objects.

10)Explain why strings are immutable in Python?
- Strings are immutable in Python for performance optimizations, thread safety, and to allow them to be used as dictionary keys. Any operation that appears to modify a string actually creates a new string.

11) What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are generally faster for accessing data using keys (like a lookup), which is useful when you have data associated with unique identifiers. They are also good for representing relationships between pieces of data as key-value pairs. Lists are better when the order of items matters or when you need to access items by their position.

12) Describe a scenario where using a tuple would be preferable over a list?
-A common scenario where using a tuple is preferable over a list is when you need to represent a fixed collection of related items that should not be changed. For instance, representing a geographical coordinate as (latitude, longitude). Since the latitude and longitude of a specific point are fixed, using an immutable tuple ensures that these values are not accidentally altered later in your code, maintaining data integrity.

13) How do sets handle duplicate values in Python?
- Sets in Python are unordered collections that store only unique elements. If you try to add an element that is already present in the set, the set will simply remain unchanged. This is because sets are based on hash tables, which use the hash value of an element to determine its location. Since duplicate elements have the same hash value, they will be treated as the same element by the set.

14) How does the “in” keyword work differently for lists and dictionaries?
- The in keyword in Python checks for membership. For lists, x in my_list checks if an element x exists as a value within the list. For dictionaries, x in my_dict checks if x exists as a key in the dictionary. It does not check if x exists as a value within the dictionary.

15) Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple after it has been created. Tuples are immutable data types in Python. This means that once a tuple is defined, its contents cannot be changed, added to, or removed. Any operation that seems to modify a tuple actually creates a new tuple with the desired changes. This immutability provides data integrity and allows tuples to be used as dictionary keys.

16) What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where at least one of the values is another dictionary. This allows you to represent hierarchical or more complex data structures. A common use case is representing data where each main item has several attributes, and some of those attributes themselves contain multiple pieces of information. For example, you could use a nested dictionary to store information about students, where each student's record is a dictionary containing their name, ID, and another dictionary for their grades in different subjects: {'student1': {'name': 'Alice', 'id': '101', 'grades': {'math': 'A', 'science': 'B'}}, 'student2': {'name': 'Bob', 'id': '102', 'grades': {'math': 'B', 'science': 'A'}}}.

17 Describe the time complexity of accessing elements in a dictionary?
- Accessing elements in a dictionary in Python has an average time complexity of O(1). This means that on average, the time it takes to access an element is constant, regardless of the size of the dictionary. In the worst-case scenario (due to hash collisions), the time complexity can be O(n), where n is the number of elements in the dictionary, but this is rare in practice with good hash functions.

18) In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when:

Order matters: Lists maintain the order of elements, while dictionaries (in older Python versions) did not guarantee order and even in newer versions, access is not typically based on order.
You need to access elements by position: Lists allow efficient access to elements using integer indices.
You have a collection of items without unique keys: If you just have a sequence of items without a need to associate them with specific keys for lookup, a list is simpler and more appropriate.
You need to allow duplicate elements: Lists can contain duplicate values, whereas dictionaries have unique keys.

19) Why are dictionaries considered unordered, and how does that affect data retrieval?
- In older versions of Python (before 3.7), dictionaries were inherently unordered because their implementation using hash tables did not preserve insertion order. This meant the order in which you added items didn't guarantee the order in which they were retrieved. While dictionaries in Python 3.7+ do maintain insertion order, they are still fundamentally designed for fast lookups based on keys, not for sequential access like lists. Therefore, relying on order for data retrieval in dictionaries is generally discouraged and less efficient compared to accessing elements by key.

20) Explain the difference between a list and a dictionary in terms of data retrieval.
- The main difference in data retrieval between lists and dictionaries lies in how you access elements.

Lists: You retrieve elements from a list by their index, which is their position in the ordered sequence (starting from 0). You access elements like my_list[0].
Dictionaries: You retrieve elements from a dictionary by their unique key. You access elements like my_dict['key_name'].
Lists are good for retrieving data when you know the position of the item, while dictionaries are efficient for retrieving data when you have a key associated with the value you want.

PRACTICAL QUESTIONS

1) Write a code to create a string with your name and print it?

In [ ]:
name = "Your Name"
print(name)

Your Name

2) Write a code to find the length of the string "Hello World"?

In [ ]:
my_string = "Hello World"
string_length = len(my_string)
print(string_length)

11

3) Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

4) Write a code to convert the string "hello" to uppercase?

In [ ]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

5) Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

6) Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7) Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10) Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11) Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits_tuple = ('apple', 'banana', 'orange')
if "kiwi" in fruits_tuple:
  print("Kiwi is in the tuple.")
else:
  print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dict = {
    "name": "Your Name",  # You can replace "Your Name" with a name
    "age": 30,          # You can replace 30 with an age
    "city": "Your City"   # You can replace "Your City" with a city
}
print(my_dict)

{'name': 'Your Name', 'age': 30, 'city': 'Your City'}

22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

24)Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26) Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8}

27) Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [ ]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[1, 32, 63, 87, 87]

28) Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2]) # Lists are 0-indexed, so the third element is at index 2

cherry

29) Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict_update = dict1.copy()
combined_dict_update.update(dict2)
print("Combined using update():", combined_dict_update)

combined_dict_unpack = {**dict1, **dict2}
print("Combined using unpacking:", combined_dict_unpack)

Combined using update(): {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Combined using unpacking: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30)Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}